<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo-astra-otoparts-600x600-modified.png" <!-- MATERIAL ICONS -- />
    <!-- STYLESHEET-->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/CSS/style.css" />

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="/select2/select2.min.css" rel="stylesheet" />
    <script src="/select2/select2.min.js"></script>
    <script src="/socket.io-client-4.5.1/dist/socket.io.min.js"></script><title>Document</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark py-0 m-0" style="background-color: midnightblue">
        <div class="container-fluid">
          <div class="round-container">
            <a class="back-round" id="back-b">
              <span class="material-symbols-sharp"> arrow_back </span>
            </a>
          </div>
          <div class="container" style="width: max-content; border: transparent; background-color: white; border-radius: 50px">
            <a class="navbar-brand" href="#">
              <img src="/images/nusametal1.png" id="brand-nusametal" height="53" />
            </a>
          </div>
          <!-- Links -->
          <div class="collapse navbar-collapse" id="mynavbar">
            <div class="col-sm-4 col-lg-6 col-xl-7 ps-5">
              <div class="row d-flex flex-column float-end gs-2">
                <div class="col-12 float-end">
                  <div id="clock-container" class="float-end">
                    <script>
                      function Time() {
                        // Creating object of the Date class
                        var date = new Date();
                        // Get current hour
                        var hour = date.getHours();
                        // Get current minute
                        var minute = date.getMinutes();
                        // Get current second
                        var second = date.getSeconds();
                        hour = update(hour);
                        minute = update(minute);
                        second = update(second);
                        // Adding time elements to the div
                        document.getElementById('clock-container').innerHTML = hour + ' : ' + minute + ' : ' + second + ' ';
                        // Set Timer to 1 sec (1000 ms)
                        setTimeout(Time, 1000);
                      }
                      // Function to update time elements if they are less than 10
                      // Append 0 before time elements if they are less than 10
                      function update(t) {
                        if (t < 10) {
                          return '0' + t;
                        } else {
                          return t;
                        }
                      }
                      Time();
                    </script>
                  </div>
                </div>
                <div class="col-12 float-end">
                  <div id="date-container" class="float-end">
                    <script>
                      var date = new Date();
                      var tahun = date.getFullYear();
                      var bulan = date.getMonth();
                      var tanggal = date.getDate();
                      var hari = date.getDay();
                      var jam = date.getHours();
                      var menit = date.getMinutes();
                      var detik = date.getSeconds();
                      switch (hari) {
                        case 0:
                          hari = 'Minggu';
                          break;
                        case 1:
                          hari = 'Senin';
                          break;
                        case 2:
                          hari = 'Selasa';
                          break;
                        case 3:
                          hari = 'Rabu';
                          break;
                        case 4:
                          hari = 'Kamis';
                          break;
                        case 5:
                          hari = "Jum'at";
                          break;
                        case 6:
                          hari = 'Sabtu';
                          break;
                      }
                      switch (bulan) {
                        case 0:
                          bulan = 'Jan';
                          break;
                        case 1:
                          bulan = 'Feb';
                          break;
                        case 2:
                          bulan = 'Mar';
                          break;
                        case 3:
                          bulan = 'Apr';
                          break;
                        case 4:
                          bulan = 'Mei';
                          break;
                        case 5:
                          bulan = 'Jun';
                          break;
                        case 6:
                          bulan = 'Jul';
                          break;
                        case 7:
                          bulan = 'Ags';
                          break;
                        case 8:
                          bulan = 'Sep';
                          break;
                        case 9:
                          bulan = 'Okt';
                          break;
                        case 10:
                          bulan = 'Nov';
                          break;
                        case 11:
                          bulan = 'Des';
                          break;
                      }
                      var tampilTanggal = tanggal + ' ' + bulan + ' ' + tahun;
                      document.getElementById('date-container').innerHTML = tampilTanggal;
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-11 col-lg-7 col-xl-7 ps-4">
              <div class="row d-flex flex-row g-1" style="margin-top: -2px !important">
                <div class="col-sm-3 col-lg-3 col-xl-2 m-1 d-grid">
                  <div class="shift-indicator">
                    <h5>Shift :</h5>
                    <a>
                      <span class="material-symbols-sharp" id="shift-1"> looks_one </span>
                    </a>
                    <a>
                      <span class="material-symbols-sharp" id="shift-2"> looks_two </span>
                    </a>
                    <a>
                      <span class="material-symbols-sharp" id="shift-3"> looks_3 </span>
                    </a>
                    <script>
                      var masuk1 = 0;
                      var pulang1 =  7 * 60 + 10;
                      var masuk2 = pulang1;
                      var pulang2 =  16 * 60;
                      var masuk3 = pulang2;
                      var pulang3 = 23 * 60 + 59;
                      function updateshift() {
                        var date = new Date(); 
                        var now = date.getHours() * 60 + date.getMinutes();
                        if (masuk1 <= now && now <= pulang1) { 
                          document.getElementById("shift-1").className = "material-symbols-sharp active"
                        } else if (masuk2 <= now && now <= pulang2) {
                          document.getElementById("shift-2").className = "material-symbols-sharp active"
                        } else if (masuk3 <= now && now <= pulang3) {
                          document.getElementById("shift-3").className = "material-symbols-sharp active"
                        }
                        setTimeout(updateshift, 1000)
                      }
                      updateshift()
                    </script>
                  </div>
                </div>
                <div class="col-sm-5 col-lg-6 col-xl-6 m-1 ms-3 d-grid">
                  <div class="nama-part px-1">
                    <h4><%= nama1 %> </h4>
                    <h5><%= nrp1 %> </h5>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="kolominfo">
        <div class="card border-dark border-4 m-2 mt-3" style="background-color: #435b80;">
          <div class="row m-1 d-flex h-100">
            <div class="col-md-6 my-1">
              <div class="row d-flex mt-4 ">
                <div class="col-5 bg-dark text-light fs-4 text-center ms-3 fw-bolder" id="shift-1" onclick="openForm()">SHIFT 1
                </div> <!--kolom shift--> 
                <div class="col-5 bg-light text-dark fs-4 text-center ms-3" id="nrp-1">NRP</div> <!--kolom nrp--> 
                <div class="col-4 mt-2 d-grid">
                  <div class="card border-dark d-grid">
                    <div class="card-header text-center border-dark p-0 bg-secondary text-light" style="font-weight: bolder;">Production</div>
                    <div class="card-text fs-4 text-center" id="totalprod-1"><%= r1[0].totalprod %>  pcs</div>
                  </div>
                </div>
                <div class="col-4 mt-2 d-grid">
                  <div class="card border-dark d-grid">
                    <div class="card-header text-center border-dark p-0 " style="font-weight: bolder; background-color: chartreuse">Ok Part</div>
                    <div class="card-text fs-4 text-center" id="ok-1"><%= r1[0].ok %> pcs</div>
                  </div>
                </div>
                <div class="col-4 mt-2 d-grid">
                  <div class="card border-dark d-grid">
                    <div class="card-header text-center border-dark p-0 bg-danger text-light" style="font-weight: bolder;">Rejection</div>
                    <div class="card-text fs-4 text-center" id="reject-1"><%= r1[0].ng %> pcs</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 my-1 bg-light" style=" border-radius: 5px;">
              <div class="row d-flex">
                <div class="col-6 col-sm-4">
                  <div class="card mt-1 border-dark border-2">
                    <div class="card-header border-dark border-2 text-center bg-warning d-grid px-0" style="font-weight: bolder;">DT MATERIAL</div>
                    <div class="card-text text-center fs-4" id="dtmat-1"><%= Math.floor(r1[0].totalmat/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="card mt-1 border-dark border-2">
                    <div class="card-header border-dark border-2 text-center bg-warning d-grid" style="font-weight: bolder;">DT PROCESS</div>
                    <div class="card-text text-center fs-4" id="dtpro-1"><%= Math.floor(r1[0].totalpro/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="card mt-1 border-dark border-2">
                    <div class="card-header border-dark border-2 text-center bg-warning d-grid px-0" style="font-weight: bolder;">DT MACHINE</div>
                    <div class="card-text text-center fs-4" id="dtmach-1"><%= Math.floor(r1[0].totalmesin/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 d-grid">
                  <div class="card my-1 border-dark border-2 d-grid">
                    <div class="card-header border-dark border-2 text-center bg-warning d-grid" style="font-weight: bolder;">DT AUTO</div>
                    <div class="card-text text-center fs-4" id="dtauto-1"><%= Math.floor(r1[0].totalauto/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="card my-1 border-dark border-2">
                    <div class="card-header border-dark border-2 text-center bg-warning d-grid" style="font-weight: bolder;">DT OTHERS</div>
                    <div class="card-text text-center fs-4" id="dtoth-1"><%= Math.floor(r1[0].totaloth/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="card my-1 border-dark border-2">
                    <div class="card-header border-dark border-2 text-center bg-warning d-grid px-0" style="font-weight: bolder;">DT PLANNING</div>
                    <div class="card-text text-center fs-4" id="dtplan-1"><%= Math.floor(r1[0].totalplan/60) %>mnt</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container col-12 col-lg-6" id="myForm">
            <div class="col-12">
              <div class="row d-flex flex-row g-1">
                <div class="col-4">
                  <div class="card-text">
                    <h3 class="fw-bold">SHIFT 1</h3>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card bg-warning text-center mt-1">
                    <h5>Target/Jam</h5>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card bg-light text-end pe-5 mt-1">
                    <h5>70pcs</h5>
                  </div>
                </div>
                <div class="col-1">
                  <span class="material-symbols-sharp float-end" id="closepopup" onclick="closeForm()"> 
                    cancel
                    </span>
                </div>
                <div class="col-3 d-grid">
                  <div class="card bg-danger text-light text-center w-75">
                    <h6>JAM</h6>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card bg-secondary text-light text-center w-75 d-grid">
                    <h6>TOTAL PROD</h6>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card text-center w-75" style="background-color: chartreuse"">
                    <h6>OK</h6>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card bg-danger text-light text-center w-75">
                    <h6 class="mx-auto">NG</h6>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>00.00-01.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-1-0">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-1-0">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-1-0">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>01.00-02.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-1-1">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-1-1">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-1-1">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>02.00-03.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-1-2">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-1-2">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-1-2">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>03.00-04.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-1-3">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-1-3">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-1-3">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>04.00-05.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-1-4">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-1-4">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-1-4">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>05.00-06.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-1-5">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-1-5">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-1-5">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>06.00-07.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-1-6">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-1-6">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-1-6">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5 >07.00-07.10</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-1-7">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-1-7">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-1-7">0 PCS</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            function openForm() {
              document.getElementById("myForm").style.display = "block";
            }
            
            function closeForm() {
              document.getElementById("myForm").style.display = "none";
            }
            </script>
        </div>
        <div class="card border-dark border-4 m-2 mt-3" style="background-color: #435b80;">
          <div class="row m-1 d-flex h-100">
            <div class="col-md-6 my-1">
              <div class="row d-flex mt-4">
                <div class="col-5 bg-dark text-light fs-4 text-center ms-3 fw-bolder" onclick="openForm2()">SHIFT 2</div> <!--kolom shift--> 
                <div class="col-5 bg-light text-dark fs-4 text-center ms-3">NRP</div> <!--kolom nrp--> 
                <div class="col-4 mt-2 d-grid">
                  <div class="card border-dark d-grid">
                    <div class="card-header text-center border-dark p-0 bg-secondary text-light" style="font-weight: bolder;">Production</div>
                    <div class="card-text fs-4 text-center" id="totalprod-2"><%= r2[0].totalprod %> pcs</div>
                  </div>
                </div>
                <div class="col-4 mt-2 d-grid">
                  <div class="card border-dark d-grid">
                    <div class="card-header text-center border-dark p-0" style="font-weight: bolder; background-color: chartreuse">Ok Part</div>
                    <div class="card-text fs-4 text-center" id="ok-2"><%= r2[0].ok %> pcs</div>
                  </div>
                </div>
                <div class="col-4 mt-2 d-grid">
                  <div class="card border-dark d-grid">
                    <div class="card-header text-center border-dark p-0 bg-danger text-light" style="font-weight: bolder;">Rejection</div>
                    <div class="card-text fs-4 text-center" id="reject-2"><%= r2[0].ng %> pcs</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 my-1 bg-light" style=" border-radius: 5px;">
              <div class="row d-flex">
                <div class="col-6 col-sm-4">
                  <div class="card mt-1 border-dark border-2">
                    <div class="card-header bg-warning border-dark border-2 text-center d-grid px-0" style="font-weight: bolder;">DT MATERIAL</div>
                    <div class="card-text text-center fs-4" id="dtmat-2"><%= Math.floor(r2[0].totalmat/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="card mt-1 border-dark border-2">
                    <div class="card-header bg-warning border-dark border-2 text-center d-grid" style="font-weight: bolder;">DT PROCESS</div>
                    <div class="card-text text-center fs-4" id="dtpro-2"><%= Math.floor(r2[0].totalpro/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="card mt-1 border-dark border-2">
                    <div class="card-header bg-warning border-dark border-2 text-center d-grid px-0" style="font-weight: bolder;">DT MACHINE</div>
                    <div class="card-text text-center fs-4" id="dtmach-2"><%= Math.floor(r2[0].totalmesin/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 d-grid">
                  <div class="card my-1 border-dark border-2 d-grid">
                    <div class="card-header bg-warning border-dark border-2 text-center  d-grid" style="font-weight: bolder;">DT AUTO</div>
                    <div class="card-text text-center fs-4" id="dtauto-2"><%= Math.floor(r2[0].totalauto/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="card my-1 border-dark border-2">
                    <div class="card-header bg-warning border-dark border-2 text-center  d-grid" style="font-weight: bolder;">DT OTHERS</div>
                    <div class="card-text text-center fs-4" id="dtoth-2"><%= Math.floor(r2[0].totaloth/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="card my-1 border-dark border-2">
                    <div class="card-header bg-warning border-dark border-2 text-center  d-grid px-0" style="font-weight: bolder;">DT PLANNING</div>
                    <div class="card-text text-center fs-4" id="dtplan-2"><%= Math.floor(r2[0].totalplan/60) %>mnt</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container col-12 col-lg-6" id="myForm2">
            <div class="col-12">
              <div class="row d-flex flex-row g-1">
                <div class="col-4">
                  <div class="card-text">
                    <h3 class="fw-bold">SHIFT 2</h3>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card bg-warning text-center mt-1">
                    <h5>Target/Jam</h5>
                  </div>
                </div>
                <div class="col-3">
                  <div class="card bg-light text-end pe-5 mt-1">
                    <h5>70 pcs</h5>
                  </div>
                </div>
                <div class="col-1">
                  <span class="material-symbols-sharp float-end" id="closepopup" onclick="closeForm2()"> 
                    cancel
                    </span>
                </div>
                <div class="col-3 d-grid">
                  <div class="card bg-danger text-light text-center w-75">
                    <h6>JAM</h6>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card bg-secondary text-light text-center w-75 d-grid">
                    <h6>TOTAL PROD</h6>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card text-center w-75" style="background-color: chartreuse"">
                    <h6>OK</h6>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card bg-danger text-light text-center w-75">
                    <h6 class="mx-auto">NG</h6>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>07.10-08.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-2-7">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-2-7">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-2-7">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>08.00-09.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-2-8">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-2-8">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-2-8">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>09.00-10.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-2-9">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-2-9">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-2-9">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>10.00-11.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-2-10">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-2-10">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-2-10">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>11.00-12.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-2-11">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-2-11">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-2-11">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>12.00-13.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-2-12">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-2-12">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-2-12">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>13.00-14.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-2-13">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-2-13">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-2-13">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>14.00-15.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-2-14">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-2-14">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-2-14">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-danger text-light text-center w-75">
                    <h5>15.00-16.00</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="total-2-15">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ok-2-15">0 PCS</h5>
                  </div>
                </div>
                <div class="col-3 d-grid">
                  <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                    <h5 id="ng-2-15">0 PCS</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            function openForm2() {
              document.getElementById("myForm2").style.display = "block";
            }
            
            function closeForm2() {
              document.getElementById("myForm2").style.display = "none";
            }
          </script>
        </div>
        <div class="card border-dark border-4 m-2 mt-3" style="background-color: #435b80;">
          <div class="row m-1 d-flex h-100">
            <div class="col-md-6 my-1">
              <div class="row d-flex mt-4">
                <div class="col-5 bg-dark text-light fs-4 text-center fw-bolder ms-3" onclick="openForm3()">SHIFT 3</div> <!--kolom shift--> 
                <div class="col-5 bg-light text-dark fs-4 text-center ms-3">NRP</div> <!--kolom nrp--> 
                <div class="col-4 mt-2 d-grid">
                  <div class="card border-dark d-grid">
                    <div class="card-header text-center border-dark p-0 bg-secondary text-light" style="font-weight: bolder;">Production</div>
                    <div class="card-text fs-4 text-center" id="totalprod-3"><%=r3[0].totalprod%> pcs</div>
                  </div>
                </div>
                <div class="col-4 mt-2 d-grid">
                  <div class="card border-dark d-grid">
                    <div class="card-header text-center border-dark p-0" style="font-weight: bolder; background-color: chartreuse">Ok Part</div>
                    <div class="card-text fs-4 text-center" id="ok-3"><%= r3[0].ok%> pcs</div>
                  </div>
                </div>
                <div class="col-4 mt-2 d-grid">
                  <div class="card border-dark d-grid">
                    <div class="card-header text-center border-dark p-0 bg-danger text-light" style="font-weight: bolder;">Rejection</div>
                    <div class="card-text fs-4 text-center" id="reject-3"><%= r3[0].ng %> pcs</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 my-1 bg-light" style=" border-radius: 5px;">
              <div class="row d-flex">
                <div class="col-6 col-sm-4">
                  <div class="card mt-1 border-dark border-2">
                    <div class="card-header bg-warning border-dark border-2 text-center  d-grid px-0" style="font-weight: bolder;">DT MATERIAL</div>
                    <div class="card-text text-center fs-4" id="dtmat-3"><%= Math.floor(r3[0].totalmat/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="card mt-1 border-dark border-2">
                    <div class="card-header bg-warning border-dark border-2 text-center  d-grid" style="font-weight: bolder;">DT PROCESS</div>
                    <div class="card-text text-center fs-4" id="dtpro-3"><%= Math.floor(r3[0].totalpro/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4">
                  <div class="card mt-1 border-dark border-2">
                    <div class="card-header bg-warning border-dark border-2 text-center d-grid px-0" style="font-weight: bolder;">DT MACHINE</div>
                    <div class="card-text text-center fs-4" id="dtmach-3"><%= Math.floor(r3[0].totalmesin/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 d-grid">
                  <div class="card my-1 border-dark border-2 d-grid">
                    <div class="card-header bg-warning border-dark border-2 text-center d-grid" style="font-weight: bolder;">DT AUTO</div>
                    <div class="card-text text-center fs-4" id="dtauto-3"><%= Math.floor(r3[0].totalauto/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 d-grid">
                  <div class="card my-1 border-dark border-2 d-grid">
                    <div class="card-header bg-warning border-dark border-2 text-center  d-grid" style="font-weight: bolder;">DT OTHERS</div>
                    <div class="card-text text-center fs-4" id="dtoth-3"><%= Math.floor(r3[0].totaloth/60) %>mnt</div>
                  </div>
                </div>
                <div class="col-6 col-sm-4 d-grid">
                  <div class="card my-1 border-dark border-2">
                    <div class="card-header bg-warning border-dark border-2 text-center d-grid px-0" style="font-weight: bolder;">DT PLANNING</div>
                    <div class="card-text text-center fs-4" id="dtplan-3"><%= Math.floor(r3[0].totalplan/60) %>mnt</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container col-12 col-lg-6" id="myForm3">
              <div class="col-12">
                <div class="row d-flex flex-row g-1">
                  <div class="col-4">
                    <div class="card-text">
                      <h3 class="fw-bold">SHIFT 3</h3>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="card bg-warning text-center mt-1">
                      <h5>Target/Jam</h5>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card bg-light text-end pe-5 mt-1">
                      <h5>70 pcs</h5>
                    </div>
                  </div>
                  <div class="col-1">
                    <span class="material-symbols-sharp float-end" id="closepopup" onclick="closeForm3()"> 
                      cancel
                      </span>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card bg-danger text-light text-center w-75">
                      <h6>JAM</h6>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card bg-secondary text-light text-center w-75 d-grid">
                      <h6>TOTAL PROD</h6>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card text-center w-75" style="background-color: chartreuse"">
                      <h6>OK</h6>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card bg-danger text-light text-center w-75">
                      <h6 class="mx-auto">NG</h6>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-danger text-light text-center w-75">
                      <h5>16.00-17.00</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="total-3-16">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ok-3-16">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ng-3-16">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-danger text-light text-center w-75">
                      <h5>17.00-18.00</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                      <h5 id="total-3-17">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                      <h5 id="ok-3-17">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                      <h5 id="ng-3-17">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-danger text-light text-center w-75">
                      <h5>18.00-19.00</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="total-3-18">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ok-3-18">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ng-3-18">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-danger text-light text-center w-75">
                      <h5>19.00-20.00</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                      <h5 id="total-3-19">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                      <h5 id="ok-3-19">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-light text-center w-75" style="border: 1px solid black;">
                      <h5 id="ng-3-19">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-danger text-light text-center w-75">
                      <h5>20.00-21.00</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="total-3-20">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ok-3-20">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ng-3-20">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-danger text-light text-center w-75">
                      <h5>21.00-22.00</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="total-3-21">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ok-3-21">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ng-3-21">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-danger text-light text-center w-75">
                      <h5>22.00-23.00</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="total-3-22">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ok-3-22">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ng-3-22">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-danger text-light text-center w-75">
                      <h5>23.00-00.00</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="total-3-23">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ok-3-23">0 PCS</h5>
                    </div>
                  </div>
                  <div class="col-3 d-grid">
                    <div class="card-text bg-body text-center w-75" style="border: 1px solid black;">
                      <h5 id="ng-3-23">0 PCS</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script>
              function openForm3() {
                document.getElementById("myForm3").style.display = "block";
              }
              
              function closeForm3() {
                document.getElementById("myForm3").style.display = "none";
              }
              </script>
          </div>
        </div>
      </section>
    </main>
    <footer class="text-center" style="background-color: midnightblue">
      <!--FOOTER-->
      <div class="text-center p-3 text-light">
        &copy; 2022 Copyright:
        <a class="text-light" href="https://www.smartsyst.my.id/">PE Digitalization</a>
      </div>
    </footer>
    <script>
      window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || 
                              ( typeof window.performance != "undefined" && 
                                    window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
          // Handle page restore.
          window.location.reload();
        }
      })
      var ng = parseInt("<%= ng %>");
      var totalp = parseInt("<%= totalp %>");
      var ok = parseInt("<%= totalok %>");
      var dtclick = <%= dtclick %>;
      var idprod = "<%= idprod %>";
      var line = "<%= line %>";
      var namapart = "<%= namapart %>"
    </script>
    <script src="/resume.js"></script>
  </body>
</html>
