<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo-astra-otoparts-600x600-modified.png" <!-- MATERIAL ICONS -- />
    <!-- STYLESHEET-->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/CSS/style.css" />

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="/select2/select2.min.css" rel="stylesheet" />
    <script src="/select2/select2.min.js"></script>
    <script src="/socket.io-client-4.5.1/dist/socket.io.min.js"></script>
    <title>Screen Rejection</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark py-0 m-0" style="background-color: midnightblue">
        <div class="container-fluid">
          <div class="round-container">
            <a class="back-round" onclick="window.history.back()">
              <span class="material-symbols-sharp"> arrow_back </span>
            </a>
          </div>
          <div class="container" style="width: max-content; border: transparent; background-color: white; border-radius: 50px">
            <a class="navbar-brand" href="#">
              <img src="/images/nusametal1.png" id="brand-nusametal" height="53" />
            </a>
          </div>
          <!-- Links -->
          <div class="collapse navbar-collapse" id="mynavbar">
            <div class="col-sm-4 col-lg-6 col-xl-7 ps-5">
              <div class="row d-flex flex-column float-end gs-2">
                <div class="col-12 float-end">
                  <div id="clock-container" class="float-end">
                    <script>
                      function Time() {
                        // Creating object of the Date class
                        var date = new Date();
                        // Get current hour
                        var hour = date.getHours();
                        // Get current minute
                        var minute = date.getMinutes();
                        // Get current second
                        var second = date.getSeconds();
                        hour = update(hour);
                        minute = update(minute);
                        second = update(second);
                        // Adding time elements to the div
                        document.getElementById('clock-container').innerHTML = hour + ' : ' + minute + ' : ' + second + ' ';
                        // Set Timer to 1 sec (1000 ms)
                        setTimeout(Time, 1000);
                      }
                      // Function to update time elements if they are less than 10
                      // Append 0 before time elements if they are less than 10
                      function update(t) {
                        if (t < 10) {
                          return '0' + t;
                        } else {
                          return t;
                        }
                      }
                      Time();
                    </script>
                  </div>
                </div>
                <div class="col-12 float-end">
                  <div id="date-container" class="float-end">
                    <script>
                      var date = new Date();
                      var tahun = date.getFullYear();
                      var bulan = date.getMonth();
                      var tanggal = date.getDate();
                      var hari = date.getDay();
                      var jam = date.getHours();
                      var menit = date.getMinutes();
                      var detik = date.getSeconds();
                      switch (hari) {
                        case 0:
                          hari = 'Minggu';
                          break;
                        case 1:
                          hari = 'Senin';
                          break;
                        case 2:
                          hari = 'Selasa';
                          break;
                        case 3:
                          hari = 'Rabu';
                          break;
                        case 4:
                          hari = 'Kamis';
                          break;
                        case 5:
                          hari = "Jum'at";
                          break;
                        case 6:
                          hari = 'Sabtu';
                          break;
                      }
                      switch (bulan) {
                        case 0:
                          bulan = 'Jan';
                          break;
                        case 1:
                          bulan = 'Feb';
                          break;
                        case 2:
                          bulan = 'Mar';
                          break;
                        case 3:
                          bulan = 'Apr';
                          break;
                        case 4:
                          bulan = 'Mei';
                          break;
                        case 5:
                          bulan = 'Jun';
                          break;
                        case 6:
                          bulan = 'Jul';
                          break;
                        case 7:
                          bulan = 'Ags';
                          break;
                        case 8:
                          bulan = 'Sep';
                          break;
                        case 9:
                          bulan = 'Okt';
                          break;
                        case 10:
                          bulan = 'Nov';
                          break;
                        case 11:
                          bulan = 'Des';
                          break;
                      }
                      var tampilTanggal = tanggal + ' ' + bulan + ' ' + tahun;
                      document.getElementById('date-container').innerHTML = tampilTanggal;
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-11 col-lg-7 col-xl-7 ps-4">
              <div class="row d-flex flex-row g-1" style="margin-top: -2px !important">
                <div class="col-sm-3 col-lg-3 col-xl-2 m-1 d-grid">
                  <div class="shift-indicator">
                    <h5>Shift :</h5>
                    <a>
                      <span class="material-symbols-sharp" id="shift-1"> looks_one </span>
                    </a>
                    <a>
                      <span class="material-symbols-sharp" id="shift-2"> looks_two </span>
                    </a>
                    <a>
                      <span class="material-symbols-sharp" id="shift-3"> looks_3 </span>
                    </a>
                    <script>
                      var masuk1 = 0;
                      var pulang1 =  7 * 60 + 10;
                      var masuk2 = pulang1;
                      var pulang2 =  16 * 60;
                      var masuk3 = pulang2;
                      var pulang3 = 23 * 60 + 59;
                      function updateshift() {
                        var date = new Date(); 
                        var now = date.getHours() * 60 + date.getMinutes();

                        if (masuk1 <= now && now <= pulang1) { 
                          document.getElementById("shift-1").className = "material-symbols-sharp active"
                        } else if (masuk2 <= now && now <= pulang2) {
                          document.getElementById("shift-2").className = "material-symbols-sharp active"
                        } else if (masuk3 <= now && now <= pulang3) {
                          document.getElementById("shift-3").className = "material-symbols-sharp active"
                        }
                        setTimeout(updateshift, 1000)
                      }
                      updateshift()
                    </script>
                  </div>
                </div>
                <div class="col-sm-5 col-lg-6 col-xl-6 m-1 ms-3 d-grid">
                  <div class="nama-part px-1">
                    <h4><%= nama1 %> </h4>
                    <h5><%= nrp1 %> </h5>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="col-md-12 ml-3">
        <div class="row gx-1 py-0 d-flex flex-row mx-1">
          <div class="col-sm-2 col-sm-2 col-lg-2 d-grid">
            <div class="card border-dark m-1" id="card-prodd">
              <div class="card-header bg-secondary text-light border-dark" id="card-production" style="text-align: center; font-size: 12px; font-weight: bolder">NAMA PART</div>
              <div class="card-text m-auto" style="text-align: center;">
                <h6><%= namapart %> </h6>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="card border-dark m-1" id="card-prodd">
              <div class="card-header bg-info border-dark" id="card-production" style="text-align: center; font-size: 12px; font-weight: bolder">PRODUCTION</div>
              <div class="card-text mx-auto">
                <h1 id="totalp"><%= totalp %></h1>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="card border-dark m-1" id="card-okk">
              <div class="card-header border-dark" id="card-production" style="text-align: center; background-color: chartreuse; font-size: 12px; font-weight: bolder">OK</div>
              <div class="card-text mx-auto">
                <h1 id="totalok"><%= totalok %></h1>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-sm-2 col-lg-2">
            <div class="card border-dark m-1" id="card-rejectt">
              <a href="#" class="d-grid p-0" style="text-decoration: none;">
                <button type="button" class="btn btn-danger border-dark" value="input" style=" height: 2.2rem; margin-top: -0.1px; margin-left: -0.4px; font-size: 12px; font-weight: bolder">REJECTION</button>
              </a>
              <div class="card-text mx-auto">
                <h1 id="ng"><%= ng %></h1>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="card border-dark m-1" id="card-rejectt">
              <a href="/<%= part %>/<%= idprod %>/<%= line %>/dt" class="d-grid p-0" style="text-decoration: none;">
                <button type="button" class="btn btn-warning border-dark d-grid" style="height: 2.2rem; margin-top: -0.1px; font-size: 12px; font-weight: bolder">DOWNTIME</button>
              </a>
              <div class="card-text mx-auto">
                <h1 id="totaldt">0</h1>
              </div>
            </div>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="card border-dark m-1" id="card-dtt">
              <div class="card-header bg-secondary text-light border-dark" id="card-production" style="text-align: center; font-size: 12px; font-weight: bolder">TARGET</div>
              <div class="card-text mx-auto">
                <h1 id="target"><%= target %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="container-fluid" style="text-align: center; background-color: var(--color-warning)">"Digitalization smart counter machining line" "Screen Rejection"</div>
      </div>
      <div class="col-sm-12">
        <div class="row gx-1 py-0 d-flex flex-row">
          <div class="col-sm-2 px-1 mt-1">
            <div class="card border-dark" id="card-rejection">
              <button type="button" class="btn btn-danger" onclick="dimensi()">DIMENSI</button>
              <div class="card-content mx-auto">
                <h5 id="dimensi"><%= result2[0].DIMENSI %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 g-1">
            <div class="card border-dark m-0 p-0" id="card-rejection">
              <button class="btn btn-danger btn-block" onclick="blong()">BLONG</button>
              <div class="card-content mx-auto">
                <h5 id="blong"><%= result2[0].BLONG %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="seret()">SERET</button>
              <div class="card-content mx-auto">
                <h5 id="seret"><%= result2[0].SERET %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="dent()">DENT</button>
              <div class="card-content mx-auto">
                <h5 id="dent"><%= result2[0].DENT %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="uncutting()">UNCUTTING</button>
              <div class="card-content mx-auto">
                <h5 id="uncutting"><%= result2[0].UNCUTTING %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="step()">STEP</button>
              <div class="card-content mx-auto">
                <h5 id="step"><%= result2[0].STEP %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="kasar()">KASAR</button>
              <div class="card-content mx-auto">
                <h5 id="kasar"><%= result2[0].KASAR %>pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="ngassy()">NG ASSY</button>
              <div class="card-content mx-auto">
                <h5 id="ngassy"><%= result2[0].NG_ASSY %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="rivet()">RIVET</button>
              <div class="card-content mx-auto">
                <h5 id="rivet"><%= result2[0].RIVET %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="bimetal()">BIMETAL</button>
              <div class="card-content mx-auto">
                <h5 id="bimetal"><%= result2[0].BIMETAL %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="jointt()">JOINT T</button>
              <div class="card-content mx-auto">
                <h5 id="jointt"><%= result2[0].JOINT_TUBE %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="plate()">PLATE</button>
              <div class="card-content mx-auto">
                <h5 id="plate"><%= result2[0].PLATE %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="nojig()">NO JIG</button>
              <div class="card-content mx-auto">
                <h5 id="nojig"><%= result2[0].NO_JIG %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="othersp()">OTHERS P</button>
              <div class="card-content mx-auto">
                <h5 id="othersp"><%= result2[0].OTHERS_P %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="keropos()">KEROPOS</button>
              <div class="card-content mx-auto">
                <h5 id="keropos"><%= result2[0].KEROPOS %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="bocor()">BOCOR</button>
              <div class="card-content mx-auto">
                <h5 id="bocor"><%= result2[0].BOCOR %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="flowline()">FLOWLINE</button>
              <div class="card-content mx-auto">
                <h5 id="flowline"><%= result2[0].FLOWLINE %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="retak()">RETAK</button>
              <div class="card-content mx-auto">
                <h5 id="retak"><%= result2[0].RETAK %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="gompal()">GOMPAL</button>
              <div class="card-content mx-auto">
                <h5 id="gompal"><%= result2[0].GOMPAL %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="overp()">OVER P</button>
              <div class="card-content mx-auto">
                <h5 id="overp"><%= result2[0].OVER_PROSES %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="kurangp()">KURANG P</button>
              <div class="card-content mx-auto">
                <h5 id="kurangp"><%= result2[0].KURANG_PROSES %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="jamur()">JAMUR</button>
              <div class="card-content mx-auto">
                <h5 id="jamur"><%= result2[0].JAMUR %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="undercut()">UNDERCUT</button>
              <div class="card-content mx-auto">
                <h5 id="undercut"><%= result2[0].UNDERCUT %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 px-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="dekok()">DEKOK</button>
              <div class="card-content mx-auto">
                <h5 id="dekok"><%= result2[0].DEKOK %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="trial()">TRIAL</button>
              <div class="card-content mx-auto">
                <h5 id="trial"><%= result2[0].TRIAL %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="uncutm()">UNCUT MAT.</button>
              <div class="card-content mx-auto">
                <h5 id="uncutm"><%= result2[0].UNCUT_MATERIAL %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-2 p-1">
            <div class="card border-dark" id="card-rejection">
              <button class="btn btn-danger" onclick="othersm()">OTHERS M</button>
              <div class="card-content mx-auto">
                <h5 id="othersm"><%= result2[0].OTHERS_MATERIAL %> pcs</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3 p-1">
            <div class="container d-grid p-0 h-100" style="border: none">
              <button type="button" class="btn btn-warning h-100" onclick="undo()" id="button-undo">
                <h4>UNDO</h4>
              </button>
            </div>
          </div>
          <div class="col-sm-3 p-1">
            <div class="container d-grid p-0 h-100" style="border: none">
              <a href="/<%= part %>/<%= idprod %>/<%= line %>/resume" class="d-grid" style="text-decoration: none">
                <button type="button" class="btn btn-success h-100" id="button-resume">
                  <h4>RESUME</h4>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="text-center" style="background-color: midnightblue;"> <!--FOOTER-->
      <div class="text-center p-3 text-light">
        &copy; 2022 Copyright:
        <a class="text-light" href="https://www.smartsyst.my.id/">PE Digitalization</a>
      </div>
    </footer>
    <script>  
      window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || 
                              ( typeof window.performance != "undefined" && 
                                    window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
          // Handle page restore.
          window.location.reload();
        }
      })
      var ng = parseInt("<%= ng %>");
      var totalp = parseInt("<%= totalp %>");
      var ok = parseInt("<%= totalok %>");
      var totaldimensi = parseInt("<%= result2[0].DIMENSI %>");
      var totalblong = parseInt("<%= result2[0].BLONG %>");
      var totalseret = parseInt("<%= result2[0].SERET %>");
      var totaldent = parseInt("<%= result2[0].DENT %>");
      var totaluncutting = parseInt("<%= result2[0].UNCUTTING %>"); 
      var totalstep = parseInt("<%= result2[0].STEP %>");
      var totalkasar = parseInt("<%= result2[0].KASAR %>");
      var totalngassy = parseInt("<%= result2[0].NG_ASSY %>");
      var totalrivet = parseInt("<%= result2[0].RIVET %>");
      var totalbimetal = parseInt("<%= result2[0].BIMETAL %>"); 
      var totaljointt = parseInt("<%= result2[0].JOINT_TUBE %>");
      var totalplate = parseInt("<%= result2[0].PLATE %>");
      var totalnojig = parseInt("<%= result2[0].NO_JIG %>");
      var totalothersp = parseInt("<%= result2[0].OTHERS_P %>");
      var totalkeropos = parseInt("<%= result2[0].KEROPOS %>");
      var totalbocor = parseInt("<%= result2[0].BOCOR %>");
      var totalflowline = parseInt("<%= result2[0].FLOWLINE %>");
      var totalretak = parseInt("<%= result2[0].RETAK %>");
      var totalgompal = parseInt("<%= result2[0].GOMPAL %>");
      var totaloverp = parseInt("<%= result2[0].OVER_PROSES %>");
      var totalkurangp = parseInt("<%= result2[0].KURANG_PROSES %>");
      var totaljamur = parseInt("<%= result2[0].JAMUR %>");
      var totalundercut = parseInt("<%= result2[0].UNDERCUT %>");
      var totaldekok = parseInt("<%= result2[0].DEKOK %>");
      var totaltrial = parseInt("<%= result2[0].TRIAL %>");
      var totaluncutm = parseInt("<%= result2[0].UNCUT_MATERIAL %>");
      var totalothersm = parseInt("<%= result2[0].OTHERS_MATERIAL %>"); 
      var secondmat = parseInt("<%= resulttotal[0].totalmat %>");
      var secondmach = parseInt("<%= resulttotal[0].totalmesin %>");
      var secondpro = parseInt("<%= resulttotal[0].totalpro %>");
      var secondauto = parseInt("<%= resulttotal[0].totalauto %>");
      var secondothers = parseInt("<%= resulttotal[0].totaloth %>");
      var secondplan = parseInt("<%= resulttotal[0].totalplan%>");
      var idprod = "<%= idprod %>"
      var $inputs = $(':button');
      var dtclick = <%= dtclick %>;
      var namapart = "<%= namapart %>"
      var undoTracker = parseInt("<%= undoTracker %>");
      var line = "<%= line %>"
      <%- que %>
    </script>
    <script src="/rejection.js"></script>
  </body>
</html>
